{% extends "syntaxsugarContactBundle::layout.html.twig" %}

{% block title %}Kontakt{% endblock%}

{% block content %}
    <h2>Kontakt - ogvalaska.cz</h2>
    {% for flashMessage in app.session.flashbag.get('contact-notice') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <form action="{{ path('syntaxsugar_contact_contact') }}" method="post" {{ form_enctype(form) }} role="form">
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.body) }}
            {{ form_widget(form.body, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-default">Odeslat</button>
    </form>
    <br><br>
{% endblock %}