{% extends "syntaxsugarContactBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>OGVALASKA.CZ</h1>

        <p class="lead">Doména na prodej</p>

        <p><a class="btn btn-lg btn-success" href="{{ path('syntaxsugar_contact_contact') }}" role="button">Kontakt</a>
        </p>
    </div>

    <div>
        <div class="row">
            <div class="col-xs-6">
                {% image '@syntaxsugarContactBundle/Resources/public/images/og2.jpg' %}
                <img src="{{ asset_url }}" alt="Example"/>
                {% endimage %}

            </div>
            <div class="col-xs-6">
                {% image '@syntaxsugarContactBundle/Resources/public/images/og1.jpg' %}
                <img src="{{ asset_url }}" alt="Example"/>
                {% endimage %}
            </div>
        </div>

    </div>
    <div class="row">
        <ul>
            <li><a href="http://zlin.idnes.cz/valatrans-vybuduje-obchody-a-kancelare-pred-nadrazim-ve-vsetine-pwx-/zlin-zpravy.aspx?c=A150711_2176430_zlin-zpravy_ras">Před vsetínským nádražím vznikne obchodní galerie s podzemním parkovištěm</a></li>
        </ul>
    </div>
{% endblock %}